@{
    ViewData["Title"] = "Home Page";
}

@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@
<div class="row mb-0">
    <div class="col-3" style="padding-right: 5px">
        <div class="card mb-3 shadow bg-white rounded">
            <div class="card-body p-2">
                <h6 class="card-title font-weight-bold">PROBLEM</h6>
                <p class="card-text small">
                    Large labor costs for the preparation of settlement, technical and commercial documentation. Lack of a single software specialized product for the industry. The problem of the presentation of the designed products.
                </p>
            </div>
        </div>
        <div class="card mb-3 shadow bg-white rounded">
            <div class="card-body p-2">
                <h6 class="card-title font-weight-bold">EXISTING ALTERNATIVES</h6>
                <p class="card-text small">
                    The calculation of the cost of production occurs either roughly "by eye" or for a long time. Third-party programs allow only to design products, all calculations (weight, waste, cost of materials, labor costs for manufacturing as any other calculations are done manually). Buying these programs is a long one, since it involves sending a physical security key. In many industries, those maps are drawn manually, and almost all calculations are done in Excel.
                </p>
            </div>
        </div>
    </div>
    <div class="col" style="padding-right: 5px">
        <div class="card mb-3 shadow bg-white rounded">
            <div class="card-body p-2">
                <h6 class="card-title font-weight-bold">SOLUTION</h6>
                <p class="card-text small">
                    Instant and fully automatic preparation of documentation on the OgunCAD.com web service. All the necessary software tools for the industry are located on a single cross-platform service, which works on poppies, and on Linux, and on Windows. And due to the fact that the service is on the Internet, our customers will be able to instantly and high-tech present their products to end users.
                </p>
            </div>
        </div>
        <div class="card mb-3 shadow bg-white rounded">
            <div class="card-body p-2">
                <h6 class="card-title font-weight-bold">KEY METRICS</h6>
                <p class="card-text small">
                    The number of registrations and subscriptions, visits and views.
                </p>
            </div>
        </div>
    </div>
    <div class="col" style="padding-right: 5px">
        <div class="card mb-3 shadow bg-white rounded">
            <div class="card-body p-2">
                <h6 class="card-title font-weight-bold">UNIQUE VALUE PROPOSITION</h6>
                <p class="card-text small">
                    OgunCAD.com is a web application that is the only software product in the world that covers all the software needs of the industry.
                </p>
            </div>
        </div>
    </div>
    <div class="col" style="padding-right: 5px">
        <div class="card mb-3 shadow bg-white rounded">
            <div class="card-body p-2">
                <h6 class="card-title font-weight-bold">UNFAIR</h6>
                <p class="card-text small">
                    A web application is developed in compiled programming language, microsoft pays a lot of attention to the security of asp.net. The probability of hacking or decompiling the code is missing or negligible.
                </p>
            </div>
        </div>
        <div class="card mb-3 shadow bg-white rounded">
            <div class="card-body p-2">
                <h6 class="card-title font-weight-bold">CHANNELS</h6>
                <p class="card-text small">
                    Personal contacts, contextual advertising, thematic exhibitions and conferences.
                </p>
            </div>
        </div>
    </div>
    <div class="col" style="padding-right: 5px">
        <div class="card mb-3 shadow bg-white rounded">
            <div class="card-body p-2">
                <h6 class="card-title font-weight-bold">CUSTOMER</h6>
                <p class="card-text small">
                    Customers: sellers of forged elements and products, production of metal structures, blacksmiths, designers. <br />Users: buyers of products from our customers.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-5" style="padding-right: 5px">
        <div class="card shadow bg-white rounded">
            <div class="card-body p-2">
                <h6 class="card-title font-weight-bold">COST STRUCTURE</h6>
                <p class="card-text small">
                    <s>@*Seeking $70k for a 10% stake.*@</s> Under construction. <br />@*Break Even: 105 subscribers from all over the world.*@
                </p><p></p>
            </div>
        </div>
    </div>
    <div class="col" style="padding-right: 5px">
        <div class="card shadow bg-white rounded">
            <div class="card-body p-2">
                <h6 class="card-title font-weight-bold">REVENUE STREAMS</h6>
                <p class="card-text small">
                    Paid subscription is $199 per month. Partnerships with industry participants (manufacturers of components and equipment).
                </p>
            </div>
        </div>
    </div>
</div>
